* {box-sizing: border-box;}

    .wrapper {
        max-width: auto;
        margin: 0 auto;
        font: 0.8em Helvetica, arial, sans-serif;
    }

    .wrapper > * {
        border: 2px solid #94aac4;
        background-color: #d6d6d6;
        border-radius: 5px;
        padding: 10px;
        text-align: center;
    }

.main-head {
  grid-area: header;
}
.content {
  grid-area: content;
}

.wrapper {
  display: grid;
  grid-gap: 20px;
  grid-template-areas: 
    "header"
    "content";
}
